<style>
.navbar-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: start;
}

.navbar-search-wrapper {
    justify-self: center;
}

.navbar-search-wrapper form {
    width: 100%;
    max-width: 600px;
}

.navbar-right {
    justify-self: end;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-btn {
    background-color: #fe424d;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
}

.search-btn:hover {
    background-color: #e22e39;
    color: #fff;
}

@media (max-width: 767px) {
    .navbar-grid {
        grid-template-columns: 1fr;
    }
    .navbar-search-wrapper {
        order: 3;
        width: 100%;
        margin: 0.5rem 0;
    }
    .navbar-search-wrapper form {
        max-width: 100%;
    }
    .navbar-right {
        order: 4;
        justify-self: start;
    }
}
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <div class="navbar-grid">

      <div class="navbar-left">
        <a class="navbar-brand m-0" href="/listings"><i class="fa-solid fa-house"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/listings">Explore</a>
          </div>
        </div>
      </div>

      <div class="navbar-search-wrapper">
        <form class="d-flex w-100" role="search">
          <input class="form-control me-2" type="search" placeholder="Search Destinations" aria-label="Search"/>
          <button class="btn search-btn" type="submit">Search</button>
        </form>
      </div>

      <div class="navbar-right navbar-nav">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if (!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if (currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>

    </div>
  </div>
</nav>